<section class="landing">
  <div class="context" fxLayout="row" fxLayoutAlign="center center">
    <div class="context-text">
      <h1 class="context-heading">VacuoleX</h1>
      <h3 class="context-slogan">Data is evolving as we!</h3>
      <button mat-raised-button routerLink="/browse/intro" class="btn-demo">
        Browse
      </button>
    </div>
    <div class="context-img">
      <img src="../../../assets/vacuolelogo-white.svg" alt="" />
    </div>
  </div>
  <section class="about-us">
    <div
      class="landing-content"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="40px"
      fxLayoutGap.xs="10px"
      fxLayout.xs="column"
    >
      <div
        class="landing-content-img"
        fxLayout="column"
        fxLayoutAlign="center end"
        fxFlexOrder.xs="2"
      >
        <img src="../../assets/landing-page/about-us.svg" alt="" />
      </div>
      <div
        class="landing-content-text"
        fxLayout="column"
        fxLayoutAlign="center start"
      >
        <h1>About Us</h1>
        <h3>
          Vacuole is an information Technology and Services Company aims at
          empowering your web identity and provide innumerable services in the
          vicinity of web&mobile development. VacuoleX is a median and
          collaborative project of vacuole between Center of Biotechnology and
          Microbiology, University of Peshawar and department, Abasyn University
          Peshawar under the supervision of Dr.Irfanullah of Abasyn University.
        </h3>
      </div>
    </div>
  </section>
  <section class="collection">
    <div
      class="landing-content"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="40px"
      fxLayoutGap.xs="10px"
      fxLayout.xs="column"
    >
      <div
        class="landing-content-img"
        fxLayout="column"
        fxLayoutAlign="center end"
        fxFlexOrder="2"
        fxFlexOrder.xs="1"
      >
        <img src="../../assets/landing-page/collection.svg" alt="" />
      </div>
      <div
        class="landing-content-text"
        fxLayout="column"
        fxLayoutAlign="center start"
      >
        <h1>Collection of microbes</h1>
        <h3>
          Upon signing up to the portal you can navigate to the sorted
          collection of microbes and easily can explore the microbe of your
          interest.
        </h3>
      </div>
    </div>
  </section>
  <section class="save">
    <div
      class="landing-content"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="40px"
      fxLayoutGap.xs="10px"
      fxLayout.xs="column"
    >
      <div
        class="landing-content-img"
        fxLayout="column"
        fxLayoutAlign="center end"
        fxFlexOrder.xs="2"
      >
        <img src="../../assets/landing-page/save.svg" alt="" />
      </div>
      <div
        class="landing-content-text"
        fxLayout="column"
        fxLayoutAlign="center start"
      >
        <h1>Save seperate collection</h1>
        <h3>
          To give our user sound experience with the app, we have introduced a
          collection feature where you can collect your choice of microbe for
          future read.
        </h3>
      </div>
    </div>
  </section>
  <section class="constant-update">
    <div
      class="landing-content"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="40px"
      fxLayoutGap.xs="10px"
      fxLayout.xs="column"
    >
      <div
        class="landing-content-img"
        fxLayout="column"
        fxLayoutAlign="center end"
        fxFlexOrder="2"
        fxFlexOrder.xs="1"
      >
        <img src="../../assets/landing-page/update.svg" alt="" />
      </div>
      <div
        class="landing-content-text"
        fxLayout="column"
        fxLayoutAlign="center start"
      >
        <h1>We're Constantly Updating</h1>
        <h3>
          Haven’t found a microbe you want? Not to worry at all! We are
          constantly uploading and updating our collection of microbes.
        </h3>
      </div>
    </div>
  </section>
  <section>
    <div
      class="landing-content"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="40px"
      fxLayoutGap.xs="10px"
      fxLayout.xs="column"
    >
      <div
        class="landing-content-img"
        fxLayout="column"
        fxLayoutAlign="center end"
        fxFlexOrder.xs="2"
      >
        <img src="../../assets/landing-page/mobile.svg" alt="" />
      </div>
      <div
        class="landing-content-text"
        fxLayout="column"
        fxLayoutAlign="center start"
      >
        <h1>We're Everywhere</h1>
        <h3>
          You can install our Web App and we are on google play store too.
        </h3>
      </div>
    </div>
  </section>
  <section class="collaborate">
    <div
      class="landing-content"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="40px"
      fxLayoutGap.xs="10px"
      fxLayout.xs="column"
    >
      <div
        class="landing-content-img"
        fxLayout="column"
        fxLayoutAlign="center end"
        fxFlexOrder="2"
        fxFlexOrder.xs="2"
      >
        <img src="../../assets/landing-page/collaborate.svg" alt="" />
      </div>
      <div
        class="landing-content-text"
        fxLayout="column"
        fxLayoutAlign="center start"
      >
        <h1>Collaborate</h1>
        <h3>
          Do you want to embark on a journey of making the Data accessible? Join
          us if you are interested. Reach out to us via email.
        </h3>
      </div>
    </div>
  </section>
  <div class="mobile-version" fxLayout="row" fxLayoutAlign="center center">
    <div class="card" fxLayout="row" fxLayoutAlign="center center">
      <div class="card-img" fxFlexAlign="center center">
        <img src="../../assets/landing-page/download.svg" alt="" />
      </div>
      <div class="card-content">
        <h4>Download Our App From Google Play Store</h4>
        <button mat-raised-button color="accent">Download</button>
      </div>
    </div>
  </div>
  <footer class="footer" fxLayout="column" fxLayoutAlign="center center">
    <h1>Vacuole X &CircleTimes;</h1>
    <p>A Product By Vacuole</p>
  </footer>
</section>
