.microbe-details {
  background-color: #fff;
  padding: 2rem 4rem;
  .intro {
    width: 80%;
    .intro-img {
      img {
        width: 50%;
        border-radius: 10px;
        object-fit: cover;
      }
    }
    .intro-text {
      margin-top: 1rem;
      h1 {
        color: rgb(80, 80, 80);
      }
      h3 {
        margin-top: -1.2rem;
        color: darkgrey;
      }
    }
  }
  .detail-text {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #448aff;
    }
    img {
      padding: 2rem 1rem;
      width: 40%;
      border-radius: 10px;
    }
    p {
      color: rgb(80, 80, 80);
      line-height: 1.4rem;
    }
    ul {
      color: rgb(80, 80, 80);
    }
  }
}

@media screen and (max-width: 600px) {
  .microbe-details {
    padding: 2rem 2rem;
    .intro {
      .intro-img {
        img {
          width: 100%;
        }
      }
    }
    .detail-text {
      img {
        width: 90%;
      }
    }
  }
}
