<section class="microbe-details" fxLayout="column">
  <div class="intro" fxFlexAlign="start">
    <div class="intro-img">
      <img
        src="https://media.istockphoto.com/photos/beneficial-healthy-intestinal-bacterium-micro-flora-picture-id1091692964?k=20&m=1091692964&s=612x612&w=0&h=IZLsHGACNWywdeOUeF4R8QORtvxs9lhZiqLyAB-4tzE="
        alt=""
      />
    </div>
    <div class="intro-text">
      <h1>Bacillus</h1>
      <h3>Bacteria</h3>
    </div>
  </div>
  <div class="detail-text">
    <h1>Heading</h1>
    <h2>Heading</h2>
    <img
      src="https://media.istockphoto.com/photos/beneficial-healthy-intestinal-bacterium-micro-flora-picture-id1091692964?k=20&m=1091692964&s=612x612&w=0&h=IZLsHGACNWywdeOUeF4R8QORtvxs9lhZiqLyAB-4tzE="
      alt=""
    />
    <h3>Heading</h3>
    <h4>Heading</h4>
    <img src="../../../assets/about/about.svg" alt="" />
    <h5>Heading</h5>
    <h6>Heading</h6>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et neque sed
      iusto tempora voluptate, eius veniam reiciendis dolorem non dicta? Ea
      quisquam eveniet error asperiores fugit quod at voluptatem distinctio eius
      nostrum? Maxime dolorem exercitationem sed quos veritatis doloremque ut
      error est omnis, aliquid voluptas illo earum repellendus tempore
      voluptates. Sunt ex quibusdam tenetur dolor adipisci alias nulla ut
      aliquam aliquid nobis quaerat itaque, rem non, similique, aperiam harum
      repellendus. Eveniet nostrum, consectetur deleniti eligendi, harum
      recusandae porro placeat mollitia assumenda, alias provident sunt autem
      tempora culpa atque maxime dolore quaerat eum. Maiores natus soluta alias
      voluptatibus eum eaque iste?
    </p>
    <p>
      paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Repellat et maxime excepturi eligendi sapiente, voluptatibus vel eum
      expedita aliquam laboriosam quos nostrum similique iste possimus illo,
      aspernatur fugit enim quaerat tempore provident? Repellendus, ad! Quaerat
      fugit ipsum sit quam officia. Iste accusamus ex nihil ut totam
      perspiciatis ad aperiam natus facilis soluta rem, mollitia quas recusandae
      itaque fugiat esse consectetur tenetur dolor voluptates alias maiores?
      Inventore, amet similique. Quia rem odio hic numquam perspiciatis quos
      dolor minus nisi quibusdam, explicabo molestias placeat consequatur iure
      alias iste ad. Tempore alias unde, est cumque veniam consequuntur officiis
      cum incidunt neque, perferendis a.
    </p>
    <img src="../../../assets/landing-page/collaborate.svg" alt="" />
    <ul>
      <li>Hi Lorem, ipsum.</li>
      <li>Hi Lorem, ipsum.</li>
      <li>Hi Lorem, ipsum.</li>
      <li>Hi Lorem, ipsum.</li>
      <li>Hi Lorem, ipsum.</li>
    </ul>
  </div>
</section>
