<section class="microbe-details" fxLayout="column">
  <div class="intro" fxFlexAlign="start">
    <div class="intro-img">
      <img [src]="[details.image]" alt="Microbe image" />
    </div>
    <div class="intro-text">
      <h1>{{ details.title }}</h1>
    </div>
    <div class="rating">
      <ng-rating-bar
        (valueChange)="selectRating($event)"
        [value]="details.rating"
        [ratingCount]="5"
      ></ng-rating-bar>
    </div>
  </div>
  <div class="dynamic-content">
    <p [innerHTML]="details.description | safeHtml"></p>
  </div>
</section>
<mat-card>
  <div class="comment-section">
    <h3>Comment Sections</h3>
    <div class="comments-wrapper">
      <div class="comments" *ngFor="let comment of details.comments">
        <h4 class="comment-user-name">{{ comment.user.name | uppercase }}</h4>
        <p class="comment-text">{{ comment.comment }}</p>
      </div>
    </div>
    <div
      class="comment-input-wrapper"
      fxLayout
      fxLayoutAlign="space-between center"
    >
      <mat-form-field class="comment-input" appearance="fill" color="accent">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput #comment maxlength="600"></textarea>
      </mat-form-field>
      <div class="submit-options">
        <button
          *ngIf="!loading"
          mat-flat-button
          color="accent"
          (click)="onSubmitComment(comment)"
        >
          Submit
        </button>
        <p *ngIf="loading">
          <mat-spinner diameter="40"></mat-spinner>
        </p>
      </div>
    </div>
  </div>
</mat-card>
