.sidenav {
  height: 100vh;
  mat-sidenav-container {
    mat-sidenav {
      position: fixed;
      width: 20rem;
      .mat-drawer-inner-container {
        overflow: hidden;
      }
    }
    mat-sidenav-content {
      background-color: #fff;
    }
  }
}

// .mat-drawer-content {
//   overflow: hidden;
// }
.toggle-button {
  background: transparent !important;
  border: none;
}
mat-icon {
  cursor: pointer;
}
.sidenav-content {
  height: 100%;
  width: 100%;
  .sidenav-text {
    color: rgb(97, 97, 97);
    margin-top: 2rem;
    position: relative;
    width: 100%;
    cursor: pointer;
    p {
      margin: 0rem 3rem;
      margin-top: 1rem;
    }
  }
  .vacuole {
    width: 100%;
    background-color: rgba(223, 223, 223, 0.685);
    color: rgb(83, 83, 83);
    position: absolute;
    bottom: 0;
    z-index: -2;
    p {
      margin-top: 5%;
      font-weight: bolder;
      letter-spacing: 2px;
    }
  }
}

.active {
  color: #ff4081;
}
// medium size screen
@media only screen and (max-width: 800px) {
  .sidenav {
    mat-sidenav-container {
      mat-sidenav {
        min-width: 12rem;
      }
    }
  }
}
@media only screen and (max-width: 340px) {
  .sidenav {
    mat-sidenav-container {
      mat-sidenav {
        width: 15rem;
      }
    }
  }
}
