<div class="sidenav">
  <mat-sidenav-container [hasBackdrop]="onSmallScreen">
    <mat-sidenav
      mode="side"
      [opened]="!onSmallScreen"
      [mode]="sidenavMode"
      #sidenav
    >
      <div
        class="sidenav-content"
        fxLayout="column"
        fxLayoutAlign="space-between start"
      >
        <div class="sidenav-text">
          <p
            [routerLink]="['/browse', 'intro']"
            routerLinkActive="active"
            (click)="nodeClicked()"
          >
            introduction
          </p>
          <p
            [routerLink]="['type', 'all']"
            routerLinkActive="active"
            (click)="nodeClicked()"
          >
            All
          </p>
          <p
            routerLink="collection"
            routerLinkActive="active"
            (click)="nodeClicked()"
          >
            My Collects
          </p>

          <app-mat-tree (nodeClicked)="nodeClicked()"></app-mat-tree>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-toolbar>
        <mat-icon [ngStyle]="{ color: 'white' }" (click)="sidenav.toggle()"
          >menu</mat-icon
        >
      </app-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
