<mat-toolbar color="primary" class="mat-elevation-z2">
  <div
    class="toolbar-content"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap.xs="8px"
    fxLayoutAlign="space-between center"
  >
    <div
      class="left-content"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutAlign.xs="space-around"
    >
      <div class="logo" routerLink="/welcome">
        <img src="../../../assets//vacuolelogo-white.svg" />
      </div>
      <!-- <div class="l-nav-item" routerLink="about" routerLinkActive="active">
        About
      </div> -->
    </div>
    <div
      class="right-content"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutAlign.xs="space-around center"
      fxLayoutGap="8px"
    >
      <div class="r-nav-item1">
        <div class="searchInputWrapper">
          <input
            class="searchInput"
            type="text"
            placeholder="Search"
            [matAutocomplete]="auto"
            [(ngModel)]="searchControl"
            (ngModelChange)="onChangeSearch()"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of searchData"
              [value]="option.title"
              (click)="onSubmitOption(option.id)"
            >
              <div
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="16px"
              >
                <img
                  class="example-option-img"
                  aria-hidden
                  [src]="option.image"
                  height="25"
                />
                <span>{{ option.title }}</span>
              </div>
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>

      <div class="r-nav-item2" fxHide.xs>
        <button
          mat-icon-button
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>
            <img src="../../../assets/linkedin.svg" alt="" />
          </mat-icon>
        </button>
      </div>
      <div class="r-nav-item3" fxHide.xs>
        <button
          mat-icon-button
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>
            <img src="../../../assets/twitter.svg" alt="" />
          </mat-icon>
        </button>
      </div>
      <div class="r-nav-item4">
        <button class="user-img-btn" *ngIf="isLoggedIn">
          <div [matMenuTriggerFor]="menu">
            <mat-icon color="primary"> person_outline </mat-icon>
          </div>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon color="accent"> person_outline </mat-icon>Profile
            </button>
            <button mat-menu-item (click)="onLogout()">
              <mat-icon color="accent">logout</mat-icon> Log out
            </button>
          </mat-menu>
        </button>
        <button mat-button routerLink="/auth/login" *ngIf="!isLoggedIn">
          Log in
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>
