<section class="intro" fxLayout="row" fxLayoutAlign="center">
  <div class="intro-content">
    <div class="intro-heading">
      <h1>Introduction</h1>
    </div>
    <mat-divider></mat-divider>
    <div class="intro-logo">
      <div class="logo">
        <img src="../../../assets/vacuolelogo.svg" alt="" />
      </div>
      <p class="text">
        Vacuole is concise and systematic library of micro organism.
      </p>
      <div
        class="intro-links"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="16px"
        fxLayoutAlign.sm="center start"
        fxLayoutAlign.xs="center start"
        fxLayout.xs="column"
        fxLayout.sm="column"
      >
        <div class="link" fxLayout="row" fxLayoutAlign="center center">
          <div class="link-logo" fxLayout="row" fxLayoutAlign="center center">
            Slack
          </div>
          <div class="link-button" fxLayout="row" fxLayoutAlign="center center">
            join us
          </div>
        </div>
        <div class="link" fxLayout="row" fxLayoutAlign="center center">
          <div class="link-logo" fxLayout="row" fxLayoutAlign="center center">
            Facebook
          </div>
          <div class="link-button" fxLayout="row" fxLayoutAlign="center center">
            join us
          </div>
        </div>
        <div class="link" fxLayout="row" fxLayoutAlign="center center">
          <div class="link-logo" fxLayout="row" fxLayoutAlign="center center">
            Twitter
          </div>
          <div class="link-button" fxLayout="row" fxLayoutAlign="center center">
            join us
          </div>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="intro-what">
      <div class="intro-what__heading" fxLayout="row" fxLayoutGap="24px">
        <mat-icon color="accent">help</mat-icon>
        <h1>What is Vacuole</h1>
      </div>
      <div class="intro-what__text">
        <p>
          Data is evolving as we! The ebb and flow of Data is substantial and
          with the increase in the data, our ability to consume that data is
          also surging up. In this age and day access to Data is quite easy but
          for an amateur understanding might be a cumbersome experience. We are
          on a mission to present the data in a simple, accessible and
          understandable way so as to ease the experience in a profound way.
        </p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="intro-what">
      <div class="intro-what__heading" fxLayout="row" fxLayoutGap="24px">
        <mat-icon color="accent">info</mat-icon>
        <h1>How vacuole app works</h1>
      </div>
      <div class="intro-what__text">
        <p>
          It is undeniable that data has been stored in various repositories but
          the inefficiency to read, and learn for the amateur is the gap we are
          bringing it to the limelight and coming up with easy to read and learn
          data solution. The data in the app has been sorted into main and sub –
          categories according to the type and the user can search and collect
          the data.
        </p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="intro-what">
      <div class="intro-what__heading" fxLayout="row" fxLayoutGap="24px">
        <mat-icon color="accent">contact_support</mat-icon>
        <h1>Need Help</h1>
      </div>
      <div class="intro-what__text">
        <p>
          What to do when you need help? We are everywhere! Join us at our
          social media handles and get in touch for any query.
        </p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="intro-what">
      <div class="intro-what__heading" fxLayout="row" fxLayoutGap="24px">
        <mat-icon color="warn">favorite</mat-icon>
        <h1>Giving Back</h1>
      </div>
      <div class="intro-what__text">
        <p>
          Do you want to contribute? We believe in working cooperatively
          together. If you want to become a part of VacuoleX as a team member or
          volunteer, fill out the below form or reach out to us via email -
          (vacuolex@gmail.com)

          <a href="#">Become a contributor</a>
        </p>
      </div>
    </div>

    <div
      class="get-started"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      [routerLink]="['../', 'type', 'all']"
    >
      <div class="get-started__text">
        <p>Get Started</p>
      </div>
      <div class="get-started__icon">
        <mat-icon>arrow_forward</mat-icon>
      </div>
    </div>
  </div>
</section>
