<section class="intro" fxLayout="row" fxLayoutAlign="center">
  <div class="intro-content">
    <div class="intro-heading">
      <h1>Introduction</h1>
    </div>
    <mat-divider></mat-divider>
    <div class="intro-logo">
      <div class="logo">
        <img src="../../../assets/logo.png" alt="" />
      </div>
      <p class="text">
        Vacuole is concise and systematic library of micro organism.
      </p>
      <div
        class="intro-links"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="16px"
        fxLayoutAlign.sm="center start"
        fxLayoutAlign.xs="center start"
        fxLayout.xs="column"
        fxLayout.sm="column"
      >
        <div class="link" fxLayout="row" fxLayoutAlign="center center">
          <div class="link-logo" fxLayout="row" fxLayoutAlign="center center">
            Slack
          </div>
          <div class="link-button" fxLayout="row" fxLayoutAlign="center center">
            join us
          </div>
        </div>
        <div class="link" fxLayout="row" fxLayoutAlign="center center">
          <div class="link-logo" fxLayout="row" fxLayoutAlign="center center">
            Facebook
          </div>
          <div class="link-button" fxLayout="row" fxLayoutAlign="center center">
            join us
          </div>
        </div>
        <div class="link" fxLayout="row" fxLayoutAlign="center center">
          <div class="link-logo" fxLayout="row" fxLayoutAlign="center center">
            Twitter
          </div>
          <div class="link-button" fxLayout="row" fxLayoutAlign="center center">
            join us
          </div>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="intro-what">
      <div class="intro-what__heading" fxLayout="row" fxLayoutGap="24px">
        <mat-icon color="accent">help</mat-icon>
        <h1>What is Vacuole</h1>
      </div>
      <div class="intro-what__text">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam
          consequuntur nostrum atque voluptatum ducimus sequi corrupti quisquam
          voluptatibus. Culpa, adipisci rem cupiditate ad hic ducimus nisi
          expedita labore dolorum perspiciatis, alias commodi, voluptatum
          suscipit amet magni explicabo quod. Quidem, earum reiciendis. Commodi,
          nostrum aut temporibus quos officia iure unde totam.
        </p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="intro-what">
      <div class="intro-what__heading" fxLayout="row" fxLayoutGap="24px">
        <mat-icon color="accent">info</mat-icon>
        <h1>How vacuole app works</h1>
      </div>
      <div class="intro-what__text">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam
          consequuntur nostrum atque voluptatum ducimus sequi corrupti quisquam
          voluptatibus. Culpa, adipisci rem cupiditate ad hic ducimus nisi
          expedita labore dolorum perspiciatis, alias commodi, voluptatum
          suscipit amet magni explicabo quod. Quidem, earum reiciendis. Commodi,
          nostrum aut temporibus quos officia iure unde totam.
        </p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="intro-what">
      <div class="intro-what__heading" fxLayout="row" fxLayoutGap="24px">
        <mat-icon color="accent">contact_support</mat-icon>
        <h1>Need Help</h1>
      </div>
      <div class="intro-what__text">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam
          consequuntur nostrum atque voluptatum ducimus sequi corrupti quisquam
          voluptatibus. Culpa, adipisci rem cupiditate ad hic ducimus nisi
          expedita labore dolorum perspiciatis, alias commodi, voluptatum
          suscipit amet magni explicabo quod. Quidem, earum reiciendis. Commodi,
          nostrum aut temporibus quos officia iure unde totam.
        </p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="intro-what">
      <div class="intro-what__heading" fxLayout="row" fxLayoutGap="24px">
        <mat-icon color="warn">favorite</mat-icon>
        <h1>Giving Back</h1>
      </div>
      <div class="intro-what__text">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur,
          culpa et ullam perferendis porro eaque minus impedit atque distinctio
          possimus!
          <a href="#">Become a contributor</a>
        </p>
      </div>
    </div>

    <div
      class="get-started"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      [routerLink]="['../', 'type', 'all']"
    >
      <div class="get-started__text">
        <p>Get Started</p>
      </div>
      <div class="get-started__icon">
        <mat-icon>arrow_forward</mat-icon>
      </div>
    </div>
  </div>
</section>
