.landing {
  height: 80vh;
}
.mat-toolbar {
  position: relative;
  z-index: 1;
}

.logo > img {
  width: 4.5rem;
  cursor: pointer !important;
}
.context {
  width: 100%;
  height: 40vh;
  background-color: #e91e63;
  position: relative;
  text-align: center;
}
.context-img img {
  width: 20vh;
  position: absolute;
  right: 15%;
  top: 40%;
}
.context-text {
  color: white;
}
.context-text h1 {
  font-size: 3rem;
}
.context-text h3 {
  font-size: 1.5rem;
}
