<section class="landing">
  <mat-toolbar color="primary" class="mat-elevation-z2">
    <div
      class="toolbar-content"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div class="left-content" fxLayout="row" fxLayoutAlign="center center">
        <div class="logo" routerLink="/browse">
          <h1>Logo</h1>
        </div>
        <div class="l-nav-item active">About</div>
        <div class="l-nav-item">Services</div>
      </div>
      <div
        class="right-content"
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="8px"
      >
        <div class="nav-item1">
          <div class="searchInputWrapper">
            <input class="searchInput" type="text" placeholder="Search" />
            <mat-icon class="searchInputIcon">search</mat-icon>
          </div>
        </div>

        <div class="r-nav-item1" fxHide.xs>
          <button
            mat-icon-button
            aria-label="Example icon button with a home icon"
          >
            <mat-icon>
              <img src="../../../assets/linkedin.svg" alt="" />
            </mat-icon>
          </button>
        </div>
        <div class="r-nav-item2" fxHide.xs>
          <button
            mat-icon-button
            aria-label="Example icon button with a home icon"
          >
            <mat-icon>
              <img src="../../../assets/twitter.svg" alt="" />
            </mat-icon>
          </button>
        </div>
        <div class="r-nav-item3">
          <button mat-button routerLink="/auth">Log in</button>
        </div>
      </div>
    </div>
  </mat-toolbar>
  <div class="context" fxLayout="row" fxLayoutAlign="center center">
    <div class="context-text">
      <h1 class="context-heading">Vacuole Inc.</h1>
      <h3 class="context-slogan">Lorem ipsum dolor sit amet.</h3>
      <button mat-raised-button routerLink="/browse">Browse</button>
    </div>
    <div class="context-img">
      <!-- <img src="../../assets/context.png" alt="" /> -->
    </div>
  </div>
  <section class="about-us">
    <div
      class="landing-content"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="40px"
      fxLayoutGap.xs="10px"
      fxLayout.xs="column"
    >
      <div
        class="landing-content-img"
        fxLayout="column"
        fxLayoutAlign="center end"
        fxFlexOrder.xs="2"
      >
        <img src="../../assets/landing-page/about-us.svg" alt="" />
      </div>
      <div
        class="landing-content-text"
        fxLayout="column"
        fxLayoutAlign="center start"
      >
        <h1>About Us</h1>
        <h3>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui,
          voluptatem et exercitationem quaerat quos nam est laudantium
          laboriosam distinctio quia dignissimos maiores ipsum, dolor natus ad
          sunt cum quae deleniti.
        </h3>
      </div>
    </div>
  </section>
  <section class="collection">
    <div
      class="landing-content"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="40px"
      fxLayoutGap.xs="10px"
      fxLayout.xs="column"
    >
      <div
        class="landing-content-img"
        fxLayout="column"
        fxLayoutAlign="center end"
        fxFlexOrder="2"
        fxFlexOrder.xs="1"
      >
        <img src="../../assets/landing-page/collection.svg" alt="" />
      </div>
      <div
        class="landing-content-text"
        fxLayout="column"
        fxLayoutAlign="center start"
      >
        <h1>Collection of microbes</h1>
        <h3>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui,
          voluptatem et exercitationem quaerat quos nam est laudantium
          laboriosam distinctio quia dignissimos maiores ipsum, dolor natus ad
          sunt cum quae deleniti.
        </h3>
      </div>
    </div>
  </section>
  <section class="save">
    <div
      class="landing-content"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="40px"
      fxLayoutGap.xs="10px"
      fxLayout.xs="column"
    >
      <div
        class="landing-content-img"
        fxLayout="column"
        fxLayoutAlign="center end"
        fxFlexOrder.xs="2"
      >
        <img src="../../assets/landing-page/save.svg" alt="" />
      </div>
      <div
        class="landing-content-text"
        fxLayout="column"
        fxLayoutAlign="center start"
      >
        <h1>Save seperate collection</h1>
        <h3>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui,
          voluptatem et exercitationem quaerat quos nam est laudantium
          laboriosam distinctio quia dignissimos maiores ipsum, dolor natus ad
          sunt cum quae deleniti.
        </h3>
      </div>
    </div>
  </section>
  <section class="constant-update">
    <div
      class="landing-content"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="40px"
      fxLayoutGap.xs="10px"
      fxLayout.xs="column"
    >
      <div
        class="landing-content-img"
        fxLayout="column"
        fxLayoutAlign="center end"
        fxFlexOrder="2"
        fxFlexOrder.xs="1"
      >
        <img src="../../assets/landing-page/update.svg" alt="" />
      </div>
      <div
        class="landing-content-text"
        fxLayout="column"
        fxLayoutAlign="center start"
      >
        <h1>We're Constantly Updating</h1>
        <h3>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui,
          voluptatem et exercitationem quaerat quos nam est laudantium
          laboriosam distinctio quia dignissimos maiores ipsum, dolor natus ad
          sunt cum quae deleniti.
        </h3>
      </div>
    </div>
  </section>
  <section class="We're Everywhere">
    <div
      class="landing-content"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="40px"
      fxLayoutGap.xs="10px"
      fxLayout.xs="column"
    >
      <div
        class="landing-content-img"
        fxLayout="column"
        fxLayoutAlign="center end"
        fxFlexOrder.xs="2"
      >
        <img src="../../assets/landing-page/mobile.svg" alt="" />
      </div>
      <div
        class="landing-content-text"
        fxLayout="column"
        fxLayoutAlign="center start"
      >
        <h1>We're Everywhere</h1>
        <h3>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui,
          voluptatem et exercitationem quaerat quos nam est laudantium
          laboriosam distinctio quia dignissimos maiores ipsum, dolor natus ad
          sunt cum quae deleniti.
        </h3>
      </div>
    </div>
  </section>
  <section class="future-ideas">
    <div
      class="landing-content"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="40px"
      fxLayoutGap.xs="10px"
      fxLayout.xs="column"
    >
      <div
        class="landing-content-img"
        fxLayout="column"
        fxLayoutAlign="center end"
        fxFlexOrder="2"
        fxFlexOrder.xs="1"
      >
        <img src="../../assets/landing-page/future.svg" alt="" />
      </div>
      <div
        class="landing-content-text"
        fxLayout="column"
        fxLayoutAlign="center start"
      >
        <h1>What's Our Future</h1>
        <h3>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui,
          voluptatem et exercitationem quaerat quos nam est laudantium
          laboriosam distinctio quia dignissimos maiores ipsum, dolor natus ad
          sunt cum quae deleniti.
        </h3>
      </div>
    </div>
  </section>
  <section class="collaborate">
    <div
      class="landing-content"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="40px"
      fxLayoutGap.xs="10px"
      fxLayout.xs="column"
    >
      <div
        class="landing-content-img"
        fxLayout="column"
        fxLayoutAlign="center end"
        fxFlexOrder.xs="2"
      >
        <img src="../../assets/landing-page/collaborate.svg" alt="" />
      </div>
      <div
        class="landing-content-text"
        fxLayout="column"
        fxLayoutAlign="center start"
      >
        <h1>Collaborate</h1>
        <h3>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui,
          voluptatem et exercitationem quaerat quos nam est laudantium
          laboriosam distinctio quia dignissimos maiores ipsum, dolor natus ad
          sunt cum quae deleniti.
        </h3>
      </div>
    </div>
  </section>
  <div class="mobile-version" fxLayout="row" fxLayoutAlign="center center">
    <div class="card" fxLayout="row" fxLayoutAlign="center center">
      <div class="card-img" fxFlexAlign="center center">
        <img src="../../assets/landing-page/download.svg" alt="" />
      </div>
      <div class="card-content">
        <h4>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
          consequuntur.
        </h4>
        <button mat-raised-button color="accent">Download</button>
      </div>
    </div>
  </div>
  <footer class="footer"></footer>
</section>
