<mat-progress-bar
  mode="indeterminate"
  color="primary"
  *ngIf="loading"
></mat-progress-bar>
<div class="back-button" fxHide.lg>
  <mat-icon routerLink="../">arrow_back</mat-icon>
</div>
<section
  class="cards-section"
  fxLayout="column"
  fxLayoutAlign="center start"
  fxLayoutGap="20px"
  *ngIf="!loading"
>
  <div class="section-title">
    <h1>{{ title }}</h1>
  </div>

  <div
    class="cards"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    fxLayoutGap="16px"
    fxLayout.xs="column"
    fxLayout.sm="column"
  >
    <mat-card class="organism-card" *ngFor="let card of cards">
      <img mat-card-image src="{{ card.image }}" alt="Photo of a Microbe" />
      <mat-card-content>
        <h2 (click)="onDetails(card.id)">{{ card.title }}</h2>
        <p [innerHTML]="card.excerpt"></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button color="primary">
          <mat-icon
            (click)="
              onMicrobeCollect(
                card.collected,
                card.id,
                'Log in to enable collect functionality',
                'Log in'
              );
              card.collected = !card.collected
            "
            >{{ card.collected ? "turned_in" : "turned_in_not" }}</mat-icon
          >
        </button>
        <button mat-icon-button (click)="onDetails(card.id)">
          <mat-icon>notes</mat-icon>
        </button>
        <ng-rating-bar
          [value]="card.rating"
          [ratingCount]="5"
          [disabled]="true"
        ></ng-rating-bar>
      </mat-card-actions>
    </mat-card>

    <!-- extra div for alignment issue -->
    <div></div>
    <!-- Extra empty div -->
  </div>
  <div
    class="pagination"
    fxLayout="row"
    fxLayoutAlign="center center"
    *ngIf="!loading || (!nextPageUrl && !previousPageUrl)"
  >
    <mat-icon
      *ngIf="previousPageUrl"
      (click)="onNextAndPrevious(previousPageUrl)"
      >chevron_left</mat-icon
    >
    <button
      color="light"
      mat-mini-fab
      *ngFor="let link of links"
      [ngClass]="{ 'page-active': link.active }"
      (click)="onPaginate(link.label)"
      [disabled]="link.active"
    >
      {{ link.label }}
    </button>
    <mat-icon *ngIf="nextPageUrl" (click)="onNextAndPrevious(nextPageUrl)"
      >chevron_right</mat-icon
    >
  </div>
</section>
