.cards-section {
  min-width: 100%;
  padding: 1rem 1rem;
  .cards {
    width: 100%;
    mat-card {
      height: 25rem;
      width: 16rem;
      margin-top: 1rem;
      img {
        max-height: 15rem;
        min-width: 100%;
        object-fit: cover;
      }
      mat-card-content {
        height: 5rem;
      }
    }
  }
}

//Small-medium devices
@media only screen and (max-width: 650px) {
}
