<section
  class="cards-section"
  fxLayout="column"
  fxLayoutAlign="center start"
  fxLayoutGap="20px"
>
  <div class="section-title">
    <h1>Viruses</h1>
  </div>

  <div
    class="cards"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    fxLayoutGap="16px"
    fxLayout.xs="column"
    fxLayout.sm="column"
  >
    <mat-card class="example-card">
      <img
        mat-card-image
        src="https://thumbs.dreamstime.com/b/bacteria-7116413.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <h2>Tobacco mosaic</h2>
        <p>
          A small, agile dog that copes very well with mountainous terrain, the
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary">Collect</button>
        <button mat-stroked-button>Details</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <img
        mat-card-image
        src="https://media.istockphoto.com/photos/beneficial-healthy-intestinal-bacterium-micro-flora-picture-id1091692964?k=20&m=1091692964&s=612x612&w=0&h=IZLsHGACNWywdeOUeF4R8QORtvxs9lhZiqLyAB-4tzE="
        alt="Photo of a Shiba Inu"
      />

      <mat-card-content>
        <h2>Corona</h2>
        <p>
          A small, agile dog that copes very well with mountainous terrain, the
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary">Collect</button>
        <button mat-stroked-button>Details</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <img
        mat-card-image
        src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/other/1800x1200_virus_3d_render_red_03_other.jpg?resize=*:350px"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <h2>Bacteriophage</h2>
        <p>
          A small, agile dog that copes very well with mountainous terrain, the
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary">Collect</button>
        <button mat-stroked-button>Details</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <img
        mat-card-image
        src="https://media.istockphoto.com/photos/beneficial-healthy-intestinal-bacterium-micro-flora-picture-id1091692964?k=20&m=1091692964&s=612x612&w=0&h=IZLsHGACNWywdeOUeF4R8QORtvxs9lhZiqLyAB-4tzE="
        alt="Photo of a Shiba Inu"
      />

      <mat-card-content>
        <h2>Corona</h2>
        <p>
          A small, agile dog that copes very well with mountainous terrain, the
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary">Collect</button>
        <button mat-stroked-button>Details</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <img
        mat-card-image
        src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/other/1800x1200_virus_3d_render_red_03_other.jpg?resize=*:350px"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <h2>Bacteriophage</h2>
        <p>
          A small, agile dog that copes very well with mountainous terrain, the
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary">Collect</button>
        <button mat-stroked-button>Details</button>
      </mat-card-actions>
    </mat-card>
    <!-- extra div for alignment issue -->
    <div></div>
    <!-- Extra empty div -->
  </div>
</section>
