.cards-section {
  min-width: 100%;
  padding: 0.2rem 1rem;
  .cards {
    width: 100%;
    mat-card {
      height: 25rem;
      width: 16rem;
      margin-top: 1rem;
      img {
        max-height: 15rem;
        min-width: 100%;
        object-fit: cover;
      }
      mat-card-content {
        height: 5rem;
      }
    }
  }
}
.back-button {
  mat-icon {
    margin-left: 1.5rem;
    margin-top: 0.4rem;
    color: rgb(102, 102, 102);
    cursor: pointer;
  }
}
.pagination {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem 1rem;
  button {
    margin: 0rem 0.1rem;
  }
  mat-icon {
    margin: 0rem 1rem;
    font-weight: bolder;
    color: rgb(102, 102, 102);
    cursor: pointer;
  }
  .page-active {
    background-color: rgb(241, 84, 108);
    color: white;
  }
}

//Small-medium devices
@media only screen and (max-width: 650px) {
  .pagination {
    padding: 0.4rem 0.4rem;
    mat-icon {
      margin: 0;
    }
  }
}
/////////////////
//fallback styling if there is no kicro organisms
//////////////
.no-items {
  padding-top: 0.2rem;
  width: 100%;
  height: 80vh;
  p.text {
    font-size: 1.8rem;
    color: rgb(102, 102, 102);
    mat-icon {
      font-size: 1.8rem;
    }
  }
  .img {
    padding-top: 0.5rem;
    img {
      width: 50%;
    }
  }
}
