<mat-progress-bar
  mode="indeterminate"
  color="primary"
  *ngIf="loading"
></mat-progress-bar>
<div class="back-button" fxHide.lg>
  <mat-icon routerLink="../">arrow_back</mat-icon>
</div>
<!-- <div
  *ngIf="cards.length == 0"
  class="no-items"
  fxLayout="column"
  fxLayout.lg="row"
  fxLayout.md="row"
  fxLayoutAlign="center center"
>
  <p class="text">No Items Found</p>
  <div class="img" fxLayout="column" fxLayoutAlign="center center">
    <img src="../../../assets/organism-card/not-found.svg" alt="" />
  </div>
</div> -->
<section
  class="cards-section"
  fxLayout="column"
  fxLayoutAlign="center start"
  fxLayoutGap="20px"
  *ngIf="!loading"
>
  <div class="section-title">
    <h1>{{ title }}</h1>
  </div>

  <div
    class="cards"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    fxLayoutGap="16px"
    fxLayout.xs="column"
    fxLayout.sm="column"
  >
    <mat-card class="organism-card" *ngFor="let card of cards">
      <img mat-card-image src="{{ card.image }}" alt="Photo of a Microbe" />
      <mat-card-content>
        <h2 routerLink="/browse/id/a">{{ card.title }}</h2>
        <p>
          {{ card.description }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button color="primary">
          <mat-icon>turned_in_not</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>notes</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

    <!-- extra div for alignment issue -->
    <div></div>
    <!-- Extra empty div -->
  </div>
  <div
    class="pagination"
    fxLayout="row"
    fxLayoutAlign="center center"
    *ngIf="!loading"
  >
    <mat-icon
      *ngIf="previousPageUrl"
      (click)="onNextAndPrevious(previousPageUrl)"
      >chevron_left</mat-icon
    >
    <button
      color="light"
      mat-mini-fab
      *ngFor="let link of links"
      [ngClass]="{ 'page-active': link.active }"
      (click)="onPaginate(link.label)"
    >
      {{ link.label }}
    </button>
    <mat-icon *ngIf="nextPageUrl" (click)="onNextAndPrevious(nextPageUrl)"
      >chevron_right</mat-icon
    >
  </div>
</section>
