<section class="signup" fxLayout="row" fxLayoutAlign="center center">
  <div
    class="design-section"
    fxLayoutAlign="center center"
    fxFlex="50"
    fxFlex.xs="0"
    fxFlex.sm="35"
  >
    <div class="design-img" fxLayout="column" fxLayoutAlign="center center">
      <img src="../../../assets/auth/signup.svg" alt="login" />
    </div>
  </div>
  <div
    class="form-section"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxFlex="50"
    fxFlex.xs="100"
    fxFlex.sm="65"
  >
    <form
      [formGroup]="signupForm"
      (ngSubmit)="signupFormSubmit()"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <div
        class="form-text"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="32px"
      >
        <h1>Sign Up</h1>
        <p>
          Already registered? go to
          <a routerLink="../"><strong>login</strong></a>
        </p>
      </div>
      <mat-form-field color="accent" class="input">
        <mat-label>User Name</mat-label>
        <input
          type="text"
          matInput
          formControlName="userName"
          placeholder="e-g Muhammad"
        />
        <mat-error *ngIf="signupForm.controls.userName.hasError('required')">
          User name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field color="accent" class="input">
        <mat-label>Email*</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="e.g Abdullah@email.com"
        />
        <mat-error *ngIf="signupForm.controls.email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input" color="accent">
        <mat-label>password</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          placeholder="Password"
        />

        <mat-error *ngIf="signupForm.controls.password.hasError('required')">
          you must enter your password
        </mat-error>
        <mat-error *ngIf="signupForm.controls.password.hasError('minlength')">
          password must be 8 characters long
        </mat-error>
      </mat-form-field>
      <mat-spinner *ngIf="signupSpinner"></mat-spinner>
      <div class="error-msg" fxLayout="row" fxLayoutGap="10px" *ngIf="errorMsg">
        <h4>{{ errorMsg }}</h4>
        <mat-icon color="warn">error</mat-icon>
      </div>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        *ngIf="!signupSpinner"
      >
        Sign up
      </button>
      <button
        mat-raised-button
        color="warn"
        type="submit"
        *ngIf="!signupSpinner"
      >
        SignUp with <strong>Google</strong>
      </button>
    </form>
  </div>
</section>
