<mat-toolbar color="primary">
  <div
    class="toolbar-content"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div class="left-content" fxLayout="row" fxLayoutAlign="center center">
      <ng-content></ng-content>
    </div>
    <div
      class="right-content"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="8px"
    >
      <div class="nav-item1">
        <div class="searchInputWrapper">
          <input
            class="searchInput"
            type="text"
            placeholder="Search"
            [matAutocomplete]="auto"
            [(ngModel)]="searchControl"
            (ngModelChange)="onChangeSearch()"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of searchData"
              [value]="option.title"
              (click)="onSubmitOption(option.id)"
            >
              <div
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="16px"
              >
                <img
                  class="example-option-img"
                  aria-hidden
                  [src]="option.image"
                  height="25"
                />
                <span>{{ option.title }}</span>
              </div>
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>

      <div class="nav-item2" fxHide.sm fxHide.xs>
        <button
          mat-flat-button
          aria-label="Example icon button with a home icon"
          routerLink="collection"
        >
          My Collects
        </button>
      </div>

      <div class="nav-item3">
        <button class="user-img-btn" *ngIf="isLoggedIn">
          <div [matMenuTriggerFor]="menu">
            <mat-icon color="primary"> person_outline </mat-icon>
          </div>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon color="accent"> person_outline </mat-icon>Profile
            </button>
            <button mat-menu-item (click)="onLogout()">
              <mat-icon color="accent">logout</mat-icon>
              Log out
            </button>
          </mat-menu>
        </button>
        <button mat-button routerLink="/auth" *ngIf="!isLoggedIn">
          Log in
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>
