.toolbar-content {
  width: 100%;
  .right-content {
    .nav-item3 {
      .user-img-btn {
        width: 2.5rem;
        height: 2.5rem;
        // padding: 0.6rem 0.6rem;
        border-radius: 50%;
        background: lighten($color: #ff4081, $amount: 30%);
        border: none;
        img {
          width: 2rem;
          object-fit: cover;
        }
        button mat-icon {
          size: 1rem;
        }
      }
    }
  }
}
.mat-button {
  color: white;
}

.searchInputWrapper {
  position: relative;
  border-right: 1px solid white;
}

.searchInput {
  margin-right: 0.5rem;
  width: 10rem;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 2rem;
  border: none;
  transition: transform 0.1s ease-in-out;
}
.nav-item1 button img {
  margin-top: -2px !important;
}

::placeholder {
  color: #a1a1a1;
}

/* hide the placeholder text on focus */
:focus::placeholder {
  text-indent: -999px;
}

.searchInput:focus {
  outline: none;
  width: 12rem;
  transform: scale(1.04);
  transition: all 0.1s ease-in-out;
}

.searchInputIcon {
  position: absolute;
  right: 0.8rem;
  top: 0.4rem;
  color: #a1a1a1;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .searchInputWrapper {
    border: none;
  }
}
