<mat-toolbar color="primary">
  <div
    class="toolbar-content"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div class="left-content" fxLayout="row" fxLayoutAlign="center center">
      <ng-content></ng-content>
    </div>
    <div
      class="right-content"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="8px"
    >
      <div class="nav-item1">
        <div class="searchInputWrapper">
          <input class="searchInput" type="text" placeholder="Search" />
          <mat-icon class="searchInputIcon">search</mat-icon>
        </div>
      </div>

      <div class="nav-item1" fxHide.xs>
        <button
          mat-icon-button
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>
            <img src="../../../assets/linkedin.svg" alt="" />
          </mat-icon>
        </button>
      </div>
      <div class="nav-item2" fxHide.xs>
        <button
          mat-icon-button
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>
            <img src="../../../assets/twitter.svg" alt="" />
          </mat-icon>
        </button>
      </div>
      <div class="nav-item3">
        <button mat-button>Log in</button>
      </div>
    </div>
  </div>
</mat-toolbar>
